<!-- app.component.html -->
<div class="container">
  <header>
    <h1>{{title}}</h1>
  </header>

  <main>
    <div class="drivers-grid">
      <app-comp *ngFor="let voz of vozaci; 
                let i = index; 
                first as prv; 
                last as posleden; 
                odd as nepar; 
                even as par" [vozac]="voz" (click)="kliknatVozac()" [indeks]="i + 1"
        [attr.aria-label]="'Driver ' + voz?.name + ', position ' + (i + 1) + ' of ' + vozaci.length" role="listitem"
        [class.is-first]="prv" [class.is-last]="posleden" [class.is-even]="par" [class.is-odd]="nepar">
      </app-comp>
    </div>
  </main>
</div>